<section>
  <h2>about</h2>
</section>

<style>
  section {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    background-color: rgb(23, 23, 23);
    border: 1px solid rgb(44, 44, 44);
    border-radius: 8px;
  }
  section:hover {
    outline: 1px solid rgba(230, 57, 70, 1);
  }
</style>
<!-- Hola, soy Emmanuel, un entusiasta desarrollador web 
  front-end y estudiante de ingeniería de sistemas y computación 
  en mi quinto semestre. Originario de Colombia, mi pasión por la tecnología y
   la programación me ha llevado a sumergirme en el fascinante mundo del desarrollo web.

Mis herramientas principales incluyen:

HTML
CSS
JavaScript
TypeScript
React
Next.js
Tailwind CSS
Astro

Además de mi enfoque en el desarrollo web frontend, 
estoy constantemente ampliando mis habilidades técnicas. 
Actualmente cuento con conocimiento en backend el cual estoy profundizando como Nodejs y Mysql,
para mejorar aún más mis habilidades y mantenerme al día con
las últimas tendencias en desarrollo web.

Utilizo Git en conjunto con GitHub para el control de versiones de mis proyectos,
lo que me permite trabajar de manera colaborativa y mantener un historial claro de 
todos los cambios realizados en el código

Para la gestión de paquetes, estoy familiarizado con npm y pnpm. 
npm es una parte fundamental de mi flujo de trabajo, ya que me permite gestionar
 las dependencias de mis proyectos de manera eficiente. Recientemente, 
 también he estado explorando pnpm, una alternativa que ofrece ventajas 
 en términos de velocidad y eficiencia en la gestión de dependencias.
-->
