---
import Contact from "./Contact.astro"
---

<h6>welcome</h6>
<h1>Emmanuel Fajardo</h1>
<p>
  Soy un desarrollador web con un enfoque sólido en la experiencia del usuario,
  las animaciones y las microinteracciones. Estoy apasionado por crear sitios
  web que sean intuitivos, atractivos visualmente y altamente funcionales.
</p>
<Contact />
<img src="/images/undraw_web_developer_p3e5.svg" alt="Emmanuel fajardo web developer" />
