---
import Contact from "./Contact.astro";
import { Image } from "astro:assets";
import fondo from "./assets/fondo.png";
---

<section>
  <div id="contentHero">
    <div>
      <h6>bienvenido</h6>
      <h1>Emmanuel Fajardo | Desarrollador web Frontend</h1>
      <p>
        Tengo un enfoque sólido en la <label for="color">experiencia de usuario</label> y las
        animaciones. Apasionado por crear sitios web atractivos y <label for="color">altamente funcionales</label>.
      </p>
    </div>
    <Contact />
  </div>
  <div id="containerImage">
    <Image
      width={300}
      height={250}
      src={fondo}
      alt="Emmanuel fajardo web developer"
      loading="eager"
    />
  </div>
</section>

<style>
  label{
    color: rgba(230,57,70,1);
  }
  section {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 60% 35%;
    background-color: rgb(23, 23, 23);
    border: 1px solid rgb(44, 44, 44);
  }
  section:hover {
    outline: 1px solid rgba(230, 57, 70, 1);
  }
  p {
    line-height: 1.8rem;
    font-size: 1.2rem;
    text-wrap: pretty;
    font-weight: 400;
  }
  img {
    margin-top: 30px;
    object-fit: cover;
    width: 100%;
    height: 90%;
    mask-image: linear-gradient(black 70%, transparent);
  }
  #contentHero {
    padding: 2rem 0px 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  h6 {
    opacity: 0.5;
    font-size: 0.8rem;
    margin-bottom: 3px;
  }
  h1 {
    font-size: 1.8rem;
    color: white;
    font-weight: 700;
    margin-bottom: 10px;
  }
  #containerImage {
    height: 92%;
    width: 100%;
  }
</style>
