<section>
  <h2>projects</h2>
</section>

<style>
  section {
    background-color: rgb(23, 23, 23);
    border: 1px solid rgb(44, 44, 44);
    border-radius: 8px;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }
  section:hover{
    outline: 1px solid rgba(230, 57, 70, 1);
  }
</style>
