---
import '@fontsource/hanken-grotesk/300.css';
import '@fontsource/hanken-grotesk/400.css';
import '@fontsource/hanken-grotesk/700.css';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Emmanuel Fajardo desarrollador y programador web frontend creacion de paginas web"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icon.jpg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: rgba(17, 17, 17, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  main {
    width: 70%;
    padding: 110px;
    display: grid;
    grid-template-columns: 30% 45% 25%;
    grid-template-rows: 50% 25% 20%;
    color: rgba(255, 255, 255, 0.831);
    height: 100%;
    gap: 20px;
  }
</style>
