---
import { Image } from "astro:assets";

interface Iproject {
  id: string;
  name: string;
  description: string;
  image: ImageMetadata;
  url: string;
  github: string;
  technologies: string[];
}

interface Props {
  project: Iproject;
}

const { project } = Astro.props;
---

<div class="projects" id={project.id}>
    <h4>Leer Mas</h4>
  <Image
    width={200}
    height={100}
    src={project.image}
    alt="imagen del proyecto"
    loading="eager"
  />
  <h3>{project.name}</h3>
  <ul>
    {
      project.technologies.map((technology) => {
        return <li>{technology}</li>;
      })
    }
  </ul>
</div>
<style>
  h3 {
    color: white;
    padding-left: 2px;
  }
  img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .projects {
    cursor: pointer;
    padding: 8px 1px 8px 0px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 0px rgba(230, 57, 70, 1);
  }
  h4{
    display: none;
  }
  .projects:hover {
    position: relative;
    box-shadow: 3px 3px 3px 0px rgba(230, 57, 70, 0.2);
    img, h3, ul{
      opacity: 0.1;
    }
    h4{
      color: white;
      font-size: 20px;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      padding-top: 45%;
    }
  }

  ul {
    list-style: none;
  }
  li {
    font-weight: 300;
    padding-left: 2px;
  }
</style>
<script>
  const proyectos = document.querySelectorAll(".projects");
  proyectos.forEach((proyecto) => {
    proyecto.addEventListener("click", () => {
      alert("soy el proyecto numero: " + proyecto.id);
    });
  });
  console.log(proyectos);
</script>
